* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
   background-color: hsl(185, 75%, 39%);
   overflow: hidden;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    background-color: white;
    width: 350px;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    border-radius: 10px;
    text-align: center;
}

.pattern {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile {
    position: absolute;
    margin-top: 6.4%;
    font-size: 18px;
}

.profile img {
    border-radius: 50%;
    border: 5px solid white;
}

.profile p {
    margin-top: 20px;
    color: hsl(227, 10%, 46%);

}
span {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

.content {
    display: inline-flex;
    border-top: 1px solid hsl(0, 0%, 59%);
}

.content div {
    padding: 34px;
}

.content p, .profile p {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 14px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 80px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.background {
    position: absolute;
    z-index: -1;
    display: flex;
}

.top {
    margin-top: -412px;
    height: 630px;
}

.bottom {
    height: 870px;
    margin-top: 250px;
}