:root {
  --font-family: "Kumbh Sans", sans-serif;
  --bg-azul: hsl(185, 75%, 39%);
  --azul-muito-escuro: hsl(229, 23%, 23%);
  --cinza-escuro: hsl(227, 10%, 46%);
  --cinza-claro: hsl(0, 0%, 59%);
}

body {
  font-family: var(--font-family);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../images/bg-pattern-top.svg") right 50vw bottom 40vh
      no-repeat,
    url("../images/bg-pattern-bottom.svg") left 50vw top 40vh no-repeat;
  background-color: var(--bg-azul);
}
